In [510]:
## Read the data
import pandas as pd

dfChurn = pd.read_csv("telecom_churn_data.csv")
print(dfChurn.shape)
dfChurn.head()

(99999, 226)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [511]:
#Find the number of nulls in dataframe.
dfChurn.total_rech_amt_6.isnull().sum()

0

In [512]:
#Find the number of nulls in dataframe.
dfChurn.total_rech_amt_6.isnull().sum()

0

In [513]:
dfChurn["total_rech_amt_6_7"] = dfChurn[["total_rech_amt_6", "total_rech_amt_7"]].sum(axis=1)/2
dfChurn["total_rech_amt_6_7"]

0         307.0
1         229.0
2         241.5
3         270.0
4         273.0
5          60.0
6         360.5
7        1185.0
8         519.0
9         207.5
10          0.0
11        183.0
12        110.0
13        380.0
14         50.0
15        343.0
16        459.0
17        408.0
18         45.0
19        224.0
20        343.5
21        640.0
22        142.5
23        227.0
24        385.0
25        311.0
26         77.0
27         30.0
28         96.5
29         98.0
          ...
99969      74.0
99970     392.0
99971     165.0
99972       0.0
99973     113.5
99974     465.0
99975      82.0
99976     244.5
99977      90.0
99978       0.0
99979      55.0
99980     343.0
99981     312.0
99982      77.0
99983     195.0
99984     299.5
99985      48.5
99986     848.5
99987     186.5
99988     467.0
99989     145.0
99990      94.5
99991     160.0
99992     120.0
99993       0.0
99994      85.0
99995     110.0
99996      59.5
99997     369.5
99998     355.0
Name: total_rech_amt_6_7, Length: 99999, dtype: float64

In [514]:
dfChurn = dfChurn.loc[dfChurn["total_rech_amt_6_7"] >= dfChurn["total_rech_amt_6_7"].quantile(0.7)]
dfChurn

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.00,1185.0
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.00,519.0
13,7002191713,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,...,NaN,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.00,380.0
16,7000875565,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,...,NaN,NaN,NaN,NaN,511,0.00,2.45,21.89,0.00,459.0
17,7000187447,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,690.008,...,NaN,NaN,NaN,NaN,667,0.00,0.00,0.00,0.00,408.0
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,NaN,NaN,NaN,NaN,720,0.00,0.00,0.00,0.00,640.0
24,7001125315,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,422.050,...,NaN,NaN,NaN,NaN,3072,0.00,0.00,0.00,0.00,385.0
33,7000149764,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,977.020,...,1.0,1.0,1.0,1.0,1328,358.10,2706.83,1714.67,0.00,1932.0
38,7000815202,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,363.987,...,NaN,NaN,NaN,0.0,1155,0.00,0.00,0.00,0.00,528.0
41,7000721289,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,482.832,...,NaN,NaN,NaN,NaN,2010,0.00,0.00,0.00,0.00,503.0
48,7000294396,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1873.271,...,NaN,NaN,NaN,NaN,1265,0.00,0.00,0.00,0.00,1448.5
53,7002188521,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,978.077,...,1.0,0.0,0.0,0.0,697,0.00,0.00,0.00,0.00,1265.5
56,7002180748,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,452.624,...,1.0,1.0,1.0,1.0,729,277.97,535.63,1459.45,0.00,454.0
57,7001682585,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1201.298,...,1.0,1.0,1.0,1.0,3106,1799.09,3649.39,1892.32,0.00,1147.0
60,7000955945,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,410.261,...,NaN,NaN,NaN,NaN,3292,0.00,0.00,0.00,0.00,465.0
61,7000152517,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,565.516,...,1.0,1.0,1.0,1.0,1131,0.00,0.00,0.00,0.00,573.0
69,7002393996,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,809.518,...,NaN,NaN,NaN,NaN,607,0.00,0.00,0.00,0.00,896.0
73,7002402996,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,2401.829,...,NaN,1.0,NaN,NaN,2283,0.00,0.00,0.00,0.00,2526.5
74,7001532600,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,324.449,...,NaN,NaN,NaN,NaN,444,0.00,0.00,0.00,0.00,390.0
77,7001328263,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,30.000,...,NaN,1.0,NaN,NaN,1894,0.00,0.00,0.00,0.00,577.0
87,7001728145,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,623.635,...,NaN,1.0,1.0,1.0,3201,0.00,0.00,0.00,0.00,819.0
92,7001606600,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,465.794,...,1.0,1.0,1.0,1.0,3226,0.00,0.00,0.00,0.00,591.0
96,7001480390,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,676.999,...,NaN,NaN,NaN,NaN,970,0.00,0.00,0.00,0.00,932.5
97,7000589828,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,374.863,...,NaN,NaN,NaN,NaN,502,0.00,0.00,0.00,0.00,380.0
101,7001746121,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,512.524,...,1.0,1.0,1.0,1.0,359,0.00,0.00,0.00,0.00,621.0
102,7001631060,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,451.375,...,1.0,1.0,0.0,0.0,1727,0.00,0.00,0.00,0.00,424.0
103,7002236431,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,883.401,...,NaN,NaN,NaN,NaN,902,0.00,0.00,0.00,0.00,1067.5
105,7000208415,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,659.587,...,1.0,1.0,1.0,1.0,467,65.85,6.46,0.00,0.00,657.5
111,7001300706,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,596.301,...,1.0,NaN,NaN,NaN,332,0.00,0.00,0.00,0.00,441.0
115,7001453769,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1173.256,...,1.0,NaN,1.0,NaN,2954,253.66,0.00,48.55,0.00,849.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99887,7001271496,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,816.531,...,NaN,NaN,NaN,NaN,485,0.00,0.00,0.00,0.00,880.5
99893,7001438347,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,547.602,...,NaN,NaN,NaN,NaN,3003,0.00,0.00,0.00,0.00,579.5
99896,7002362186,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,504.271,...,NaN,NaN,NaN,NaN,1843,0.00,0.00,0.00,0.00,614.0
99899,7001632563,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,976.749,...,1.0,1.0,1.0,1.0,3409,750.31,1056.00,869.22,0.00,942.0
99902,7002142544,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,441.209,...,1.0,NaN,1.0,NaN,1404,0.00,0.00,0.00,0.00,419.0
99904,7000649339,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,435.504,...,NaN,NaN,NaN,NaN,1698,0.00,0.00,0.00,0.00,555.0
99921,7000157295,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,79.066,...,NaN,1.0,1.0,NaN,560,219.42,764.34,0.00,0.51,369.5
99922,7001602180,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,458.049,...,NaN,1.0,NaN,0.0,507,0.00,0.00,0.00,0.00,646.5
99923,7000571771,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,919.526,...,1.0,1.0,1.0,NaN,198,1164.67,1320.06,1447.87,0.00,1114.0
99924,7001581208,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,457.827,...,NaN,NaN,NaN,NaN,3104,0.00,0.00,0.00,0.00,500.0
99925,7000877443,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,137.643,...,NaN,1.0,1.0,1.0,485,323.56,86.55,0.00,0.00,662.0
99927,7001570091,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,474.220,...,1.0,1.0,1.0,1.0,2333,150.56,296.70,95.89,0.00,550.5
99929,7002128793,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,418.140,...,1.0,1.0,1.0,1.0,2349,0.00,0.00,0.00,0.00,548.0
99931,7001904289,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,897.341,...,1.0,NaN,NaN,1.0,2894,252.13,383.62,349.81,0.00,674.5
99932,7000018772,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,419.691,...,NaN,NaN,NaN,NaN,180,0.00,0.00,0.00,0.00,450.5
99935,7002109027,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,552.795,...,1.0,NaN,1.0,1.0,1929,0.00,0.00,0.00,0.00,510.5
99937,7000534033,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,351.397,...,NaN,NaN,NaN,NaN,530,0.00,0.00,0.00,0.00,511.0
99939,7001631916,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,398.308,...,NaN,NaN,NaN,NaN,2229,0.00,0.00,0.00,0.00,701.0
99941,7002281862,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,565.598,...,NaN,NaN,NaN,NaN,1661,0.00,0.00,0.00,0.00,847.5
99943,7000899330,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,189.320,...,NaN,NaN,NaN,NaN,224,113.05,181.91,406.02,0.00,458.0
99957,7002108597,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1090.075,...,1.0,1.0,1.0,1.0,1214,1729.06,1151.35,0.00,235.08,1024.0
99959,7001792051,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,268.845,...,1.0,1.0,1.0,1.0,1923,64.43,65.21,0.00,0.00,472.0
99961,7000992757,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,NaN,283.572,...,1.0,NaN,NaN,NaN,2168,0.00,41.99,112.64,0.00,408.0
99963,7000484880,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,583.505,...,NaN,1.0,NaN,NaN,763,0.00,0.00,0.00,0.00,689.5
99965,7000519799,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,292.930,...,NaN,NaN,NaN,NaN,464,0.00,0.00,0.00,0.00,536.0
99970,7001386760,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.269,...,0.0,0.0,NaN,0.0,1022,0.00,0.00,0.00,0.00,392.0
99974,7001453306,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,414.303,...,NaN,NaN,NaN,NaN,3054,0.00,0.00,0.00,0.00,465.0
99986,7001729035,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,644.973,...,1.0,1.0,1.0,1.0,2696,497.45,598.67,604.08,0.00,848.5
99988,7002111859,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,312.558,...,NaN,1.0,1.0,1.0,328,104.73,0.00,0.00,0.00,467.0
99997,7000498689,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,...,1.0,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.00,369.5

In [515]:
#Check for nulls in the columns used for churning
dfChurn.loc[:,['total_ic_mou_9', 'total_og_mou_9', 'vol_2g_mb_9','vol_3g_mb_9']].isnull().sum()

total_ic_mou_9    0
total_og_mou_9    0
vol_2g_mb_9       0
vol_3g_mb_9       0
dtype: int64

In [516]:
dfChurn['churn'] = 0
dfChurn['churn']

7        0
8        0
13       0
16       0
17       0
21       0
24       0
33       0
38       0
41       0
48       0
53       0
56       0
57       0
60       0
61       0
69       0
73       0
74       0
77       0
87       0
92       0
96       0
97       0
101      0
102      0
103      0
105      0
111      0
115      0
        ..
99887    0
99893    0
99896    0
99899    0
99902    0
99904    0
99921    0
99922    0
99923    0
99924    0
99925    0
99927    0
99929    0
99931    0
99932    0
99935    0
99937    0
99939    0
99941    0
99943    0
99957    0
99959    0
99961    0
99963    0
99965    0
99970    0
99974    0
99986    0
99988    0
99997    0
Name: churn, Length: 30011, dtype: int64

In [517]:
dfChurn.loc[((dfChurn.total_ic_mou_9 == 0) & (dfChurn.total_og_mou_9 == 0) & (dfChurn.vol_2g_mb_9 ==0) & (dfChurn.vol_3g_mb_9 ==0)),'churn']=1
dfChurn['churn']

7        1
8        0
13       0
16       0
17       0
21       0
24       0
33       0
38       0
41       0
48       0
53       0
56       0
57       0
60       0
61       0
69       0
73       0
74       0
77       0
87       0
92       0
96       0
97       1
101      0
102      0
103      0
105      0
111      1
115      0
        ..
99887    1
99893    0
99896    0
99899    0
99902    0
99904    0
99921    0
99922    0
99923    0
99924    0
99925    0
99927    0
99929    0
99931    0
99932    0
99935    0
99937    0
99939    0
99941    0
99943    0
99957    0
99959    0
99961    1
99963    0
99965    0
99970    0
99974    0
99986    0
99988    0
99997    0
Name: churn, Length: 30011, dtype: int64

In [518]:
# drop all columns corresponding to the attributes of churn phase

dfChurn.drop(dfChurn.columns[dfChurn.columns.str.contains('_9')],axis=1,inplace=True)
dfChurn.shape

(30011, 174)

In [519]:
ls_nochange = ['circle_id','loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou','last_date_of_month_6','last_date_of_month_7','last_date_of_month_8','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8','std_ic_t2o_mou_6','std_ic_t2o_mou_7','std_ic_t2o_mou_8']

In [520]:
#drop columns which show no change
dfChurn.drop(ls_nochange,axis=1,inplace=True)
dfChurn.shape

(30011, 161)

In [521]:
dfChurned=dfChurn.loc[dfChurn['churn'] == 1]
dfChurned

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,churn
7,7000701601,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
97,7000589828,374.863,294.023,183.043,433.59,415.66,221.06,74.54,43.66,31.86,...,NaN,NaN,NaN,502,0.00,0.00,0.00,0.0,380.0,1
111,7001300706,596.301,146.073,0.000,55.19,3.26,NaN,45.51,12.34,NaN,...,1.0,NaN,NaN,332,0.00,0.00,0.00,0.0,441.0,1
143,7000106299,695.609,39.981,0.000,1325.91,28.61,NaN,13.91,1.89,NaN,...,NaN,NaN,NaN,264,0.00,0.00,0.00,0.0,418.0,1
188,7000340381,734.641,183.668,0.000,4.38,0.98,NaN,105.16,39.39,NaN,...,1.0,NaN,NaN,244,0.00,831.48,1223.04,0.0,492.0,1
199,7002311591,318.783,636.546,609.463,288.56,376.66,111.61,186.59,1326.06,771.14,...,NaN,NaN,NaN,1145,0.00,0.00,0.00,0.0,633.0,1
320,7000959346,1415.186,1754.735,229.575,120.19,236.14,1.71,2082.18,2532.03,408.54,...,NaN,NaN,NaN,896,0.00,0.00,0.00,0.0,1828.5,1
358,7002255278,688.670,205.780,707.910,68.34,38.93,NaN,550.18,209.68,NaN,...,1.0,1.0,NaN,2597,1.22,17.89,383.36,0.0,750.0,1
478,7000104470,637.800,480.074,0.000,1241.99,1026.66,0.00,112.91,115.13,0.00,...,NaN,NaN,NaN,356,0.00,0.00,0.00,0.0,646.0,1
490,7000369789,679.329,0.000,0.000,189.51,NaN,NaN,920.18,NaN,NaN,...,NaN,NaN,NaN,341,0.00,0.00,0.00,0.0,393.0,1
527,7000142585,707.287,433.319,0.000,200.06,102.58,NaN,1008.21,772.28,NaN,...,1.0,0.0,NaN,280,0.00,0.00,0.00,0.0,612.5,1
539,7000670087,704.033,0.000,0.000,199.04,NaN,NaN,132.31,NaN,NaN,...,1.0,NaN,NaN,714,0.00,0.00,644.38,0.0,416.5,1
549,7000488051,340.961,349.858,277.048,26.78,47.58,0.00,213.53,295.74,94.94,...,NaN,NaN,NaN,735,0.00,0.00,0.00,0.0,427.0,1
578,7000248548,569.612,237.289,0.000,718.01,212.73,NaN,487.06,139.71,NaN,...,NaN,NaN,NaN,274,0.00,0.00,0.00,0.0,468.5,1
590,7001115493,616.529,-28.543,427.330,6.09,0.00,7.23,371.63,1.26,269.69,...,NaN,NaN,NaN,2372,0.00,0.00,0.00,0.0,415.0,1
594,7000409785,577.955,416.249,445.013,424.98,328.73,363.98,457.09,361.34,391.68,...,NaN,NaN,NaN,679,0.00,0.00,0.00,0.0,726.0,1
679,7000066601,866.416,0.000,205.869,31.11,0.00,9.59,1579.26,0.00,361.43,...,NaN,NaN,NaN,225,0.00,0.00,0.00,0.0,490.0,1
690,7000185697,1532.473,2332.192,0.000,54.14,13.78,NaN,741.88,910.58,NaN,...,NaN,1.0,NaN,228,0.00,0.00,0.00,0.0,2273.5,1
691,7001805356,885.894,852.871,812.171,1634.26,1757.49,1370.29,121.54,80.64,76.23,...,NaN,0.0,0.0,2504,0.00,0.00,0.00,0.0,1017.0,1
720,7002210273,427.841,156.307,214.770,28.34,14.04,47.88,109.26,124.53,32.14,...,NaN,NaN,NaN,647,0.00,0.00,0.00,0.0,384.0,1
723,7000684775,561.831,634.600,0.000,4.98,26.99,NaN,370.34,1007.19,NaN,...,NaN,NaN,NaN,844,0.00,0.00,0.00,0.0,700.5,1
746,7000934585,252.302,418.413,261.927,58.43,310.63,189.04,478.19,530.24,328.81,...,NaN,NaN,NaN,283,0.00,0.00,0.00,0.0,394.5,1
763,7000234200,894.657,431.612,0.000,731.71,419.24,0.00,172.83,80.48,2.46,...,NaN,NaN,NaN,650,0.00,0.00,0.00,0.0,760.0,1
780,7001951091,817.573,598.296,0.000,234.79,92.76,0.00,1863.29,1426.29,0.00,...,NaN,NaN,NaN,486,0.00,0.00,0.00,0.0,798.0,1
844,7000138471,2561.259,2619.907,1125.737,2099.68,1478.21,1302.31,5081.01,5194.83,1019.23,...,0.0,0.0,0.0,781,0.00,0.00,0.00,0.0,3294.0,1
845,7000945323,804.180,343.384,0.000,110.04,28.73,NaN,610.93,198.54,NaN,...,1.0,NaN,NaN,3197,0.00,5.35,157.22,0.0,620.0,1
895,7000436570,798.820,251.143,0.000,1789.14,660.43,NaN,221.44,46.26,NaN,...,NaN,NaN,NaN,363,0.00,0.00,0.00,0.0,602.5,1
933,7000006367,787.739,155.497,0.000,72.91,17.01,NaN,433.46,70.91,NaN,...,1.0,1.0,NaN,235,0.00,26.81,78.81,0.0,546.5,1
947,7002305699,590.273,120.796,0.000,53.28,29.96,0.00,1033.71,100.61,0.00,...,NaN,NaN,NaN,806,0.00,0.00,0.00,0.0,385.5,1
999,7000349909,52.630,689.172,259.206,0.00,44.16,21.39,70.48,822.61,383.56,...,NaN,NaN,NaN,470,0.00,0.00,0.00,0.0,526.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99081,7001265726,1130.755,1315.502,363.604,51.19,26.83,1.30,2417.58,2943.56,759.56,...,NaN,NaN,NaN,551,0.00,0.00,0.00,0.0,1419.0,1
99087,7000231235,433.574,532.514,664.935,267.44,520.88,699.49,269.14,589.13,648.96,...,NaN,NaN,NaN,405,0.00,0.00,0.00,0.0,631.0,1
99132,7001415723,892.364,52.101,133.740,1925.13,81.06,145.74,559.24,0.40,67.39,...,NaN,NaN,NaN,833,0.00,0.00,0.00,0.0,595.0,1
99161,7002280805,172.808,334.438,376.152,235.49,448.01,362.74,7.73,45.94,46.61,...,NaN,NaN,NaN,1885,0.00,0.00,0.00,0.0,473.5,1
99180,7001425320,760.967,1307.792,1218.223,276.31,435.19,200.58,709.46,1058.88,485.93,...,NaN,1.0,NaN,661,720.43,449.27,252.47,0.0,1240.0,1
99184,7002003299,534.752,486.962,511.878,788.78,830.74,917.41,151.04,182.13,130.08,...,NaN,NaN,NaN,539,0.00,0.00,0.00,0.0,609.5,1
99246,7001682578,1510.116,1956.543,0.000,3468.44,2951.21,NaN,599.89,681.58,NaN,...,NaN,NaN,NaN,1540,0.00,0.00,0.00,0.0,2113.5,1
99320,7000773540,445.682,523.870,329.047,65.16,86.89,91.16,731.48,778.61,432.63,...,NaN,0.0,NaN,1809,0.00,0.00,0.00,0.0,508.5,1
99323,7000365295,252.105,576.974,116.000,1775.39,480.11,NaN,0.00,264.11,NaN,...,NaN,NaN,NaN,346,0.00,0.00,0.00,0.0,561.0,1
99342,7001312918,333.403,389.637,0.000,243.74,189.14,0.00,300.99,276.13,0.00,...,NaN,NaN,NaN,430,0.00,0.00,0.00,0.0,394.0,1
99346,7002227396,620.314,721.820,517.956,1258.34,1297.71,601.11,297.78,270.63,303.56,...,0.0,0.0,0.0,939,0.00,0.00,0.00,0.0,892.0,1
99395,7000773138,377.871,301.880,256.338,74.49,84.14,101.41,669.33,512.29,380.33,...,NaN,NaN,NaN,606,0.00,0.00,0.00,0.0,396.0,1
99431,7000635707,735.302,67.215,-0.250,415.79,30.98,5.46,328.94,8.28,0.00,...,NaN,NaN,NaN,443,0.00,0.00,0.00,0.0,432.0,1
99436,7000180826,483.027,230.662,0.000,68.04,57.24,NaN,230.38,139.71,NaN,...,1.0,1.0,NaN,1210,0.00,178.91,680.10,0.0,411.0,1
99498,7001684911,369.894,432.660,692.086,306.23,437.73,314.38,278.21,331.04,819.51,...,NaN,1.0,1.0,989,0.00,0.00,0.00,0.0,507.5,1
99518,7000405289,414.140,280.832,157.796,138.28,100.81,13.86,570.96,423.64,25.64,...,NaN,NaN,NaN,535,0.00,0.00,0.00,0.0,394.0,1
99565,7000958676,747.417,469.647,49.318,311.73,193.46,18.04,1053.76,600.23,29.96,...,NaN,NaN,NaN,1047,0.00,0.00,0.00,0.0,716.0,1
99611,7000419422,0.000,773.144,1322.060,NaN,578.43,563.58,NaN,127.39,77.09,...,NaN,NaN,1.0,760,0.00,52.39,0.00,0.0,484.0,1
99613,7002155606,428.283,555.072,36.960,6.06,5.34,0.00,282.39,388.59,41.16,...,1.0,NaN,NaN,573,0.00,0.00,0.00,0.0,591.0,1
99700,7000084762,598.575,191.400,0.200,205.18,53.86,NaN,127.83,91.86,NaN,...,1.0,1.0,NaN,193,0.00,68.28,501.76,0.0,455.5,1
99717,7001085238,863.068,783.768,456.194,420.81,570.36,317.06,431.93,432.59,267.31,...,1.0,1.0,NaN,673,0.00,15.92,75.23,0.0,962.5,1
99726,7000224828,140.792,663.854,0.000,43.23,693.31,0.00,123.61,676.78,0.00,...,NaN,NaN,NaN,574,0.00,0.00,0.00,0.0,453.5,1
99763,7000167531,202.274,496.861,23.650,92.44,103.03,2.90,43.24,108.24,7.76,...,1.0,1.0,NaN,849,0.00,0.00,0.00,0.0,401.0,1
99790,7000008246,1942.949,0.000,0.000,154.31,NaN,NaN,430.63,NaN,NaN,...,1.0,NaN,NaN,194,0.00,0.00,0.00,0.0,1159.0,1
99821,7002225468,1119.454,1430.626,2030.200,190.24,223.64,172.96,272.11,379.03,518.79,...,NaN,NaN,NaN,245,0.00,0.00,0.00,0.0,1275.0,1
99827,7000231239,1053.035,20.060,0.000,1263.94,0.06,NaN,151.26,0.00,NaN,...,NaN,NaN,NaN,509,0.00,0.00,0.00,0.0,673.0,1
99868,7000556474,594.210,591.700,506.715,230.93,73.76,55.93,194.11,191.04,59.06,...,1.0,1.0,1.0,730,0.00,0.00,0.00,0.0,664.0,1
99885,7000229809,456.151,486.175,526.636,741.94,931.84,966.33,63.53,27.08,50.06,...,NaN,NaN,NaN,529,0.00,0.00,0.00,0.0,532.0,1
99887,7001271496,816.531,628.336,142.974,326.06,299.59,8.61,522.14,514.78,436.74,...,NaN,NaN,NaN,485,0.00,0.00,0.00,0.0,880.5,1
99961,7000992757,283.572,464.217,138.881,75.24,168.46,65.79,123.96,231.99,132.51,...,1.0,NaN,NaN,2168,0.00,41.99,112.64,0.0,408.0,1

In [522]:
dfChurned.shape

(2593, 161)

In [523]:
#Lets have a look at average revenue per user

avgRevUser = dfChurn.columns[dfChurn.columns.str.contains('arpu',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,avgRevUser].mean()
              ,dfChurn.loc[dfChurn.churn==1,avgRevUser].mean()],index={'Non Churned','Churned'})

,arpu_6,arpu_7,arpu_8,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_2g_6,arpu_2g_7,arpu_2g_8
Non Churned,578.63736,592.788162,562.453248,141.042639,143.453770,134.408737,131.015184,132.738766,123.177399
Churned,678.71697,550.511946,243.063343,158.587721,150.131777,90.162931,150.312735,145.444418,88.070259

average revenue per user has decreased drastically for churned customers in the 8th month only as compared to non-churned

In [524]:
#Lets have a look at average revenue per user

onnet_mou = dfChurn.columns[dfChurn.columns.str.contains('onnet_mou',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,onnet_mou].mean()
              ,dfChurn.loc[dfChurn.churn==1,onnet_mou].mean()],index={'Non Churned','Churned'})

             onnet_mou_6  onnet_mou_7  onnet_mou_8
Non Churned   287.662607   304.886768   283.607748
Churned       425.237636   336.138969   168.167738

In [525]:
#Lets have a look at average revenue per user

offnet_mou = dfChurn.columns[dfChurn.columns.str.contains('offnet_mou',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,offnet_mou].mean()
              ,dfChurn.loc[dfChurn.churn==1,offnet_mou].mean()],index={'Non Churned','Churned'})

             offnet_mou_6  offnet_mou_7  offnet_mou_8
Non Churned    412.234050    427.479876    399.295044
Churned        533.387374    436.856319    208.703312

In [526]:
dfChurn = dfChurn.loc[:, (round(100*(dfChurn.isnull().sum()/len(dfChurn.index)), 2) <= 50)]
dfChurn.shape

(30011, 131)

In [527]:
#churn = dfChurn['churn']
#dfChurn = dfChurn.loc[:, (round(100*(dfChurn.astype(bool).sum(axis=0)/len(dfChurn.index)), 2) > 20)]
#type(churn)
#dfChurn = pd.concat((dfChurn, churn), axis=1)
#dfChurn.join(pd.DataFrame(churn).T).fillna(method='ffill')
#dfChurn.merge(churn.to_frame(), left_index=True, right_index=True)
#dfChurn.shape

In [528]:
#Find the percent of nulls in dataframe
nullpercent = round(100*(dfChurn.isnull().sum()/len(dfChurn.index)), 2)
nullpercent

mobile_number          0.00
arpu_6                 0.00
arpu_7                 0.00
arpu_8                 0.00
onnet_mou_6            1.05
onnet_mou_7            1.01
onnet_mou_8            3.13
offnet_mou_6           1.05
offnet_mou_7           1.01
offnet_mou_8           3.13
roam_ic_mou_6          1.05
roam_ic_mou_7          1.01
roam_ic_mou_8          3.13
roam_og_mou_6          1.05
roam_og_mou_7          1.01
roam_og_mou_8          3.13
loc_og_t2t_mou_6       1.05
loc_og_t2t_mou_7       1.01
loc_og_t2t_mou_8       3.13
loc_og_t2m_mou_6       1.05
loc_og_t2m_mou_7       1.01
loc_og_t2m_mou_8       3.13
loc_og_t2f_mou_6       1.05
loc_og_t2f_mou_7       1.01
loc_og_t2f_mou_8       3.13
loc_og_t2c_mou_6       1.05
loc_og_t2c_mou_7       1.01
loc_og_t2c_mou_8       3.13
loc_og_mou_6           1.05
loc_og_mou_7           1.01
                       ...
date_of_last_rech_7    0.38
date_of_last_rech_8    1.98
last_day_rch_amt_6     0.00
last_day_rch_amt_7     0.00
last_day_rch_amt_8     0.00
vol_2g_mb_6            0.00
vol_2g_mb_7            0.00
vol_2g_mb_8            0.00
vol_3g_mb_6            0.00
vol_3g_mb_7            0.00
vol_3g_mb_8            0.00
monthly_2g_6           0.00
monthly_2g_7           0.00
monthly_2g_8           0.00
sachet_2g_6            0.00
sachet_2g_7            0.00
sachet_2g_8            0.00
monthly_3g_6           0.00
monthly_3g_7           0.00
monthly_3g_8           0.00
sachet_3g_6            0.00
sachet_3g_7            0.00
sachet_3g_8            0.00
aon                    0.00
aug_vbc_3g             0.00
jul_vbc_3g             0.00
jun_vbc_3g             0.00
sep_vbc_3g             0.00
total_rech_amt_6_7     0.00
churn                  0.00
Length: 131, dtype: float64

In [529]:
#Lets have a look at local outgoinf calls within the same operator

loc_og_t2t = dfChurn.columns[dfChurn.columns.str.contains('loc_og_t2t',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,loc_og_t2t].mean()
              ,dfChurn.loc[dfChurn.churn==1,loc_og_t2t].mean()],index={'Non Churned','Churned'})

             loc_og_t2t_mou_6  loc_og_t2t_mou_7  loc_og_t2t_mou_8
Non Churned         98.169413        100.873507         94.495266
Churned             68.544021         50.008574         23.357690

In [530]:
#Lets have a look at average revenue per user

loc_og_t2m = dfChurn.columns[dfChurn.columns.str.contains('loc_og_t2m',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,loc_og_t2m].mean()
              ,dfChurn.loc[dfChurn.churn==1,loc_og_t2m].mean()],index={'Non Churned','Churned'})

             loc_og_t2m_mou_6  loc_og_t2m_mou_7  loc_og_t2m_mou_8
Non Churned        188.577837        190.551355        181.560455
Churned            124.469562         99.852938         47.512197

In [531]:
#Lets have a look at average revenue per user

loc_og_t2f = dfChurn.columns[dfChurn.columns.str.contains('loc_og_t2f',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,loc_og_t2f].mean()
              ,dfChurn.loc[dfChurn.churn==1,loc_og_t2f].mean()],index={'Non Churned','Churned'})

             loc_og_t2f_mou_6  loc_og_t2f_mou_7  loc_og_t2f_mou_8
Non Churned          7.350701          7.513746          7.031239
Churned              3.803301          3.313965          1.905584

In [532]:
#Lets have a look at average revenue per user

loc_og_t2c = dfChurn.columns[dfChurn.columns.str.contains('loc_og_t2c',regex=True)]

pd.DataFrame([dfChurn.loc[dfChurn.churn==0,loc_og_t2c].mean()
              ,dfChurn.loc[dfChurn.churn==1,loc_og_t2c].mean()],index={'Non Churned','Churned'})

             loc_og_t2c_mou_6  loc_og_t2c_mou_7  loc_og_t2c_mou_8
Non Churned          1.567153          1.853094          1.801569
Churned              1.766361          2.196409          1.275994

In all the above parameters there is a steady decrease in calls from 6th month to 8th month for churned customers.However for calls to the call centre there is an increase in the 7th month and decrease in the eigth month which can indicate that the customer complaints had incresed in the 7th month after which the customer reduced the number of calls in the eighth month